
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
}

.navbar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #dc143c;
    height: 50px;
    width: 400px;
    max-width: 100%;
    margin:auto;
    border-radius: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 2px;
}


.titulo-nome {
   font-family: "Bitcount Single", system-ui;
   font-size: clamp(50px, 10vw, 80px);
   color: #dc143c;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" -8,
    "CRSV" 1,
    "ELSH" 0,
    "ELXP" 0;
    text-align: center;
    margin-top: 20px;
}

.texto-padrao {
    font-size: 20px;
    color: #555;
    text-align: center;
    margin-top: 10px;
}

.gif-linux {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    max-width: 100%;
    height: auto;
}